@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgb(230, 0, 0), #ffedbca8), url("https://source.unsplash.com/random/?nature,water,landscape");
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
  }

.container {
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.quote {
  text-align: center;
  font-style: italic;
  color: #364ba7;
}

.author {
  color: #f583a7;
  font-size: 20px;
}

hr {
  margin: 10px 0;
  width: 60%;
  border: 1px solid #364ba788;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.new-quote-btn,.twitter-share-btn {
  cursor: pointer;
  border: none;
  color: #f583a7;
  font-size: 20px;
  font-weight: 700;
  background-color: #364ba7;
  padding: 10px;
  border-radius: 4px;
}

.twitter-share-btn {
  text-decoration: none;
}

button:focus {
  outline: none;
}

.container:hover {
  box-shadow: 0 10px 10px rgb(230, 0, 0);
}